:root {
    --color-main: #1B1F54;
    --color-violet: #4d4aea;
    --color-white: #FFF;
    --color-dark: #3A3A3A;
    --color-dark-nonactive: #3A3A3A50;
    --color-gray: #868484;
    --color-light-gray: #D9D9D9;
    /* --color-warn: #FEEA00; */
    --color-warn: #ffd60a;
    --color-success: #468d1d;
    --color-danger: #EF5B5B;

    --size-sm-text: 14px;
    --size-m-text: 16px;
    --size-l-text: 18px;

    --size-sm-d: 20px;
    --size-m-d: 22px;
    --size-l-d: 24px;

    --size-sm-h: 28px;
    --size-m-h: 30px;
    --size-l-h: 40px;

    /* --bg-main: #F8FAFF; */
    --bg-main: #cdd8f5;
    --main-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --main-shadow-h: rgba(133, 133, 133, 0.1) 0px 8px 24px;
}

.leads-top_filter_wrapper {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.leads-form_input_wrapper select {
    padding: 5px;
    line-height: 1;
    border: 0;
    outline: none;
    border-radius: 5px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
    -webkit-appearance: none;
    background-position-x: 100%;
    height: 34px;
    width: 160px;
    font-size: 14px;
}

.leads-form_filter_outer .shadowed {
    box-shadow: var(--main-shadow-h);
}

.leads-form_filter_outer .shadowed:hover {
    box-shadow: var(--main-shadow);
}

.leads-form_input_wrapper {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    position: relative;
}

.leads-form_input_wrapper input {
    padding: 5px;
    height: 34px;
    font-size: 14px;
    border: none;
    outline: none;
    column-rule: var(--color-main);
}

.leads-form_input_wrapper button {
    background: var(--color-main);
    color: var(--color-white);
    width: 34px;
    height: 34px;
    border-radius: 10px;
    border: 2px solid var(--color-main);
    cursor: pointer;
}

.leads-form_input_wrapper button:hover {
    background: var(--color-white);
}

.leads-form_input_wrapper button:hover i {
    color: var(--color-main);
}

.leads-form_input_wrapper button i {
    color: var(--color-white);
    font-size: var(--size-sm-text);
}

.leads-search_result_list {
    position: absolute;
    top: 74px;
    left: 0;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    z-index: 10;
}

.leads-search_result_item {
    position: relative;
    padding: 8px 14px;
    cursor: pointer;
    color: var(--color-dark);
    background: var(--color-white);
}

.leads-search_result_item:hover {
    color: var(--color-dark);
    background: var(--bg-main);
}

.leads-search_result_item:last-child::before {
    display: none;
}

.leads-search_result_item::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--color-dark);
    bottom: 0;
    left: 0;
}

.leads-filter_opener {
    min-width: 54px;
    min-height: 54px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    border-radius: 10px;
}

.leads-filter_opener i {
    font-size: var(--size-sm-d);
    color: var(--color-main);
}

.leads-filter_opener.active {
    background: var(--color-main);
}

.leads-filter_opener.active i {
    color: var(--color-white);
}

.leads-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.leads-form_download_wrapper {
    position: relative;
}

.leads-form_download_opener {
    height: 54px;
    width: 54px;
    background: var(--color-white);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
}

.leads-form_download_opener i {
    color: var(--color-main);
    font-size: var(--size-sm-d);
}

.leads-form_download_links {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 74px;
    z-index: 100;
    overflow: hidden;
    z-index: 10;
    max-height: 0;
    background: var(--color-white);
}

.leads-form_btn {
    height: 54px;
    width: 100px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: var(--color-white);
}

.leads-form_download_links a {
    display: flex;
    position: relative;
    padding: 5px 10px;
    color: var(--color-dark);
}

.leads-form_download_links a:hover {
    background: var(--bg-main);
}

.leads-form_download_links a i {
    margin-right: 4px;
    color: var(--color-dark);
}

.leads-form_download_links a::before {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    left: 0;
    background: var(--color-dark);
}

.leads-form_download_links a:last-child::before {
    display: none;
}

.leads-form_opener {
    height: 54px;
    display: flex;
    justify-content: center;
    padding: 5px 20px;
    font-size: 14px;
    align-items: center;
}

.leads-filter_closer {
    min-width: 54px;
    min-height: 54px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    font-size: var(--size-sm-d);
    cursor: pointer;
}

.leads-filter_closer::before {
    display: block;
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--color-main);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.leads-blocks_wrapper {
    margin-top: 20px;
    display: flex;
    width: 100%;
    overflow-x: auto;
    align-items: start;
    gap: 20px;
    padding: 20px;
}

.leads-block {
    padding: 20px;
    min-width: 450px;
}

.leads-block_heading {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

.leads-block_heading h1 {
    color: var(--color-dark);
    font-size: var(--size-sm-h);
}

.leads-block_quantity {
    color: var(--color-gray);
    font-size: var(--size-sm-h);
}

.leads-block_properer i {
    cursor: pointer;
    font-size: var(--size-sm-h);
    color: var(--color-main);
}

.leads-list_item {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: self-start;
}

.leads-object_adder {
    margin-bottom: 10px;
    width: 100%;
    border: 2px solid var(--color-main);
    outline: none;
    background: var(--color-main);
    padding: 8px 0;
    border-radius: 10px;
    cursor: pointer;
}

.leads-object_adder:hover {
    background: var(--color-white);
}

.leads-object_adder:hover i {
    color: var(--color-main);
}

.leads-object_adder i {
    font-size: var(--size-l-d);
    color: var(--color-white);
}

.leads-list_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    padding: 10px;
}

.leads-list_item.shadowed {
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.leads-list_item_mark {
    padding: 4px;
    border-radius: 4px;
    color: var(--color-dark);
    background: var(--color-light-gray);
}

.leads-list_item_info_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.leads-list_item_name {
    font-size: var(--size-m-text);
}

.leads-list_item_info a {
    color: var(--color-violet);
    font-size: var(--size-sm-text);
}

.leads-list_item_settings {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.leads-list_item_settings i {
    font-size: var(--size-l-text);
}

.leads-list_subcat_wrapper .leads-list_wrapper {
    padding: 0;
    overflow: hidden;
    max-height: auto;
    height: auto;
    margin-top: 5px;
}

.leads-list_subcat_wrapper {
    background: #F4EED3;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.leads-list_subcat_wrapper:last-child {
    margin-bottom: 0;
}

.leads-list_subcat_wrapper .leads-list_item {
    background: var(--color-white);
}

.leads-list_subcat_heading {
    margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leads-list_subcat_heading::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: var(--color-gray);
    bottom: -5px;
    left: 0;
}

.leads-list_item_date,
.leads-list_item_time {
    color: var(--color-dark);
    font-size: var(--size-sm-text);
}

.leads-list_subcat_dropdown.nonactive i {
    transform: rotate(180deg);
}

.leads-list_subcat_settings span {
    cursor: pointer;
}

.leads-block.changed .leads-list_subcat_wrapper {
    background: transparent;
    padding: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.leads-block.changed .leads-list_subcat_heading {
    display: none;
}

.leads-block.changed .leads-list_wrapper {
    overflow: visible;
    margin-top: 10px;
    max-height: none !important;
}

.leads-adding_form {
    position: fixed;
    width: 500px;
    right: -500px;
    height: 100vh;
    z-index: 130;
    top: 0;
    padding: 20px;
    box-shadow: var(--main-shadow);
    background: var(--color-white);
}

.leads-adding_form.opened {
    right: 0;
}

.leads-adding_heading {
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.leads-adding_heading::after {
    content: "";
    position: absolute;
    display: block;
    width: 500px;
    left: -20px;
    height: 1px;
    background: var(--color-gray);
    bottom: -20px;
}

.leads-adding_header {
    font-size: var(--size-l-d);
}

.leads-adding_closer {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: var(--color-danger);
}

.leads-adding_closer i {
    color: var(--color-white);
}

.leads-adding_form_cat,
.leads-adding_form_user {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leads-adding_form_title label {
    width: 100%;
    display: block;
}

.leads-adding_form_title input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    margin-top: 4px;
    border-radius: 10px;
    border: 2px solid var(--color-dark-nonactive);
}

.leads-adding_form_check {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
}

.leads-adding_form_checkbox_wrapper {
    width: 100%;
}

.leads-adding_form_cat_select {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-size: 14px;
    border: 2px solid var(--color-dark-nonactive);
    border-radius: 10px;
}

.leads-adding_form_cat_select.noned {
    display: none;
}

.leads-adding_form_btn_group {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.leads-adding_form_btn_group button {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: 2px solid transparent;
    color: var(--color-white);
    cursor: pointer;
}

.leads-adding_form_btn_group button:first-child {
    border-color: var(--color-main);
    background: var(--color-main);
}

.leads-adding_form_btn_group button:last-child {
    border-color: var(--color-danger);
    background: var(--color-danger);
}

.leads-adding_form_btn_group button:hover {
    background: var(--color-white);
}

.leads-adding_form_btn_group button:last-child:hover {
    color: var(--color-danger);
}

.leads-adding_form_btn_group button:first-child:hover {
    color: var(--color-main);
}

.leads-adding_form_user_number_wrapper {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 10px;
    border: 2px solid var(--color-dark-nonactive);
}

.leads-adding_form_user_number_wrapper span {
    font-size: 14px;
    margin-right: 8px;
    position: relative;
}

.leads-adding_form_user_number_wrapper span::before {
    height: 36px;
    width: 2px;
    background: var(--color-dark-nonactive);
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    display: block;
}

.leads-adding_form_user_number_wrapper input {
    margin: 0 0 0 8px;
    border: none;
    padding: 10px 0;
}

.leads-adding_form_user.closed,
.leads-adding_form_cat.closed {
    display: none;
}