:root {
    --color-main: #1B1F54;
    --color-violet: #4d4aea;
    --color-white: #FFF;
    --color-dark: #3A3A3A;
    --color-dark-nonactive: #3A3A3A50;
    --color-gray: #C4C4C4;
    /* --color-warn: #FEEA00; */
    --color-warn: #ffd60a;
    --color-danger: #EF5B5B;

    --size-sm-text: 14px;
    --size-m-text: 16px;
    --size-l-text: 18px;

    --size-sm-d: 20px;
    --size-m-d: 22px;
    --size-l-d: 24px;

    --size-sm-h: 28px;
    --size-m-h: 30px;
    --size-l-h: 40px;

    /* --bg-main: #F8FAFF; */
    --bg-main: #cdd8f5;
    --main-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --main-shadow-h: rgba(133, 133, 133, 0.1) 0px 8px 24px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.header-currency_input {
    border-radius: 10px;
    display: flex;
    align-items: center;
    background: var(--bg-main);
    border: 1px solid var(--color-gray);
}

.header-currency_input input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 120px;
    outline: none;
    background: var(--bg-main);
}

.header-currency_input div {
    display: flex;
    align-items: center;
}

.header-currency_top {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-currency_arrows {
    display: flex;
    margin: 0 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-currency_arrows i {
    color: var(--color-dark);
}

.header-currency_input.uzs.changed {
    transform: translateX(-129%);
}

.header-currency_input.usd.changed {
    transform: translateX(129%);
}

.header-currency_changer {
    cursor: pointer;
}

.header-currency_changer.changed {
    transform: rotate(-180deg);
}

.header-currency_bottom,
.header-currency_bottom span {
    color: var(--color-dark);
    font-size: 10px;
    font-family: 'Primary-R';
}

.header-currency_bottom {
    margin-top: 10px;
    text-align: center;
}

.header-wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 15%;
    position: relative;
}

.header-logo img {
    width: 100%;
    max-width: 120px;
}

.header-nav {
    width: 82%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-settings {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-settings.changed {
    padding-right: 50px;
}

.header-notification_closer {
    position: fixed;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--color-main);
    right: -400px;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-white);
    cursor: pointer;
}

.header-settings.changed .header-notification_closer {
    right: calc(4%);
}

.header-settings_icon {
    color: var(--color-main);
    font-size: var(--size-m-d);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-notification_count {
    position: absolute;
    font-size: 10px;
    right: 4px;
    top: 4px;
    width: 16px;
    height: 16px;
    background: var(--color-danger);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.header-notification_opener {
    background: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.header-notification_opener.active {
    background: var(--color-main);
}

.header-notification_opener.active i {
    color: var(--color-white);
}

.header-currency_langs {
    position: relative;
}

.header-currency_current_lang,
.header-currency_lang_item a {
    border-radius: 10px;
    padding: 10px;
    font-size: var(--size-sm-text);
    border: 1px solid var(--color-gray);
    color: var(--color-dark);
    display: block;
    background: var(--color-white);
    cursor: pointer;
    width: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-currency_current_lang:hover,
.header-currency_lang_item:hover a {
    background: var(--bg-main);
}

.header-currency_current_lang.changed {
    border-radius: 10px 10px 0 0;
}

.header-currency_lang_item a {
    border-radius: 0;
    border-top: none !important;
}

.header-currency_lang_item:last-child a {
    border-radius: 0 0 10px 10px;
    border-top: none;
}

.header-currency_lang_list {
    overflow-y: hidden;
    position: absolute;
    max-height: 0;
}

.header-add_payment {
    font-size: var(--size-sm-text);
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: var(--color-main);
    color: var(--color-white);
    border: 1px solid var(--color-main);
    cursor: pointer;
}

.header-add_payment:hover {
    background: var(--color-white);
    color: var(--color-main);
}

.header-add_payment:hover i {
    color: var(--color-main);
}

.header-add_payment i {
    color: var(--color-white);
}

.header-notification_wrapp {
    position: fixed;
    height: 100vh;
    width: 30%;
    background: var(--bg-main);
    top: 0;
    right: -100%;
    overflow-y: scroll;
    padding: 105px 10px 10px 10px;
    box-shadow: var(--main-shadow);
}

.header-notification_wrapp::before {
    position: fixed;
    display: block;
    content: "";
    width: inherit;
    height: 101px;
    background: var(--bg-main);
    top: 0;
    right: -100%;
    transition: all 0.5s ease;
    z-index: 100;
}

.header-notification_wrapp.opened::before {
    right: 0;
}

.header-notification_wrapp.opened {
    right: 0;
}

.header-notification_group {
    background: var(--color-white);
    border-radius: 10px;
    position: relative;
    max-height: 300px;
    margin-bottom: 10px;
    overflow-y: scroll;
}

.header-notification_group::-webkit-scrollbar {
    width: 8px;
}

.header-notification_group::-webkit-scrollbar-track {
    border-radius: 10px;
}

.header-notification_group::-webkit-scrollbar-thumb {
    background: var(--color-main);
    border-radius: 10px;
}

.header-notification_group::-webkit-scrollbar-thumb:hover {
    background: var(--color-dark);
}

.header-notification-info {
    padding: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--color-white);
}

.header-notification_item {
    border-top: 1px solid var(--color-dark);
    width: 100%;
    padding: 10px;
}

.header-notification_title {
    font-size: var(--size-l-text);
}

.header-notification_title a {
    color: var(--color-main);
}

.header-notification_title:hover a {
    color: var(--color-dark);
}

.header-notification_body {
    margin-top: 4px;
    font-size: var(--size-sm-text);
}

.header-notification-info {
    display: flex;
    justify-content: space-between;
}

.header-notification_toggler.changed {
    transform: rotate(-180deg);
}

.header-notification_toggler {
    cursor: pointer;
}

.header-notification_list {
    overflow-y: hidden;
    max-height: 0;
}

.header-sidebar {
    position: fixed;
    padding-top: 205px;
    padding-left: 3%;
    width: calc(15% + 41px);
    top: 0;
    left: 0;
    height: 100vh;
    border-right: 1px solid var(--color-gray);
}

.header-sidebar_item a {
    padding: 10px 0;
    display: block;
    position: relative;
    z-index: 10;
    color: var(--color-main);
    font-size: var(--size-sm-d);
}

.header-sidebar_item i {
    color: var(--color-main);
}

.header-sidebar_follower {
    background: var(--bg-main);
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 40px;
    left: -400px;
    border-radius: 10px;
}

.header-sidebar_follower.opened {
    left: calc(2% - 4px);
}

.profile-inner_wrapper {
    padding-left: calc(15% + 40px);
    padding-top: 30px;
}

.profile-top_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.profile-top_left_wrapper {
    width: 30%;
}

.profile-top_right_wrapper {
    width: 70%;
}

.profile-top_info {
    padding: 20px 40px 20px 20px;
    position: relative;
}

.profile-top_name {
    font-size: var(--size-sm-h);
    color: var(--color-dark);
}

.profile-top_id {
    font-size: var(--size-m-text);
    color: var(--color-dark);
    margin-top: 6px;
}

.profile-top_number_info {
    display: block;
    margin-top: 20px;
    font-size: var(--size-m-text);
    color: var(--color-main);
}

.profile-top_number {
    color: var(--color-violet);
    font-size: var(--size-sm-d);
}

.profile-top_btn_group {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form_opener {
    border: 2px solid var(--color-dark);
    padding: 13px;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    font-size: var(--size-m-text);
}

.form_opener.izox {
    color: var(--color-violet);
    border-color: var(--color-violet);
}

.form_opener.izox:hover {
    color: var(--color-white);
    background: var(--color-violet);
}

.form_opener.tolov {
    color: var(--color-main);
    border-color: var(--color-main);
}

.form_opener.tolov:hover {
    color: var(--color-white);
    background: var(--color-main);
}

.profile-settings_btns {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    right: 20px;
    top: 20px;
}

.profile-settings_btns button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    font-size: var(--size-m-text);
    border: 2px solid transparent;
    cursor: pointer;
}

.profile-settings_btns button.edit,
.profile-settings_btns button.edit i {
    border-color: var(--color-violet);
    color: var(--color-violet);
}

.profile-settings_btns button.edit:hover {
    background: var(--color-violet);
}

.profile-settings_btns button.edit:hover i,
.profile-settings_btns button.message:hover i,
.profile-settings_btns button.delete:hover i {
    color: var(--color-white);
}

.profile-settings_btns button.message,
.profile-settings_btns button.message i {
    border-color: var(--color-warn);
    color: var(--color-warn);
}

.profile-settings_btns button.message:hover {
    background: var(--color-warn);
}

.profile-settings_btns button.delete,
.profile-settings_btns button.delete i {
    border-color: var(--color-danger);
    color: var(--color-danger);
}

.profile-settings_btns button.delete:hover {
    background: var(--color-danger);
}

.main-form_bg_closer {
    width: 100%;
    position: fixed;
    height: 100vh;
    left: 0;
    background: var(--bg-main);
    opacity: 0.5;
    z-index: 99;
    top: -100%;
}

.main-form_bg_closer.opened {
    top: 0;
}

.main-form {
    width: 500px;
    position: fixed;
    background: var(--color-white);
    box-shadow: var(--main-shadow);
    padding: 20px;
    top: 0;
    right: -500px;
    height: 100vh;
    z-index: 100;
}

.main-form.opened {
    right: 0;
}

.profile-form_heading {
    font-size: var(--size-l-d);
}

.main-form textarea,
.main-form input {
    outline: none;
    padding: 10px 20px;
    font-family: 'Primary-R';
    margin-bottom: 10px;
    font-weight: 400;
    border-radius: 10px;
    border: 2px solid var(--color-dark-nonactive);
    font-size: var(--size-md-text);
}

.form-phone_wrapper {
    outline: none;
    font-family: 'Primary-R';
    margin-bottom: 10px;
    font-weight: 400;
    border-radius: 10px;
    border: 2px solid var(--color-dark-nonactive);
    font-size: var(--size-md-text);
    display: flex;
    align-items: center;
}

.form-phone_wrapper span {
    font-family: 'Primary-B';
    padding: 10px 8px 10px;
    position: relative;
    margin-right: 5px;
}

.form-phone_wrapper span::before {
    position: absolute;
    display: block;
    content: '';
    right: 0;
    top: -1px;
    width: 2px;
    height: calc(100% + 1px);
    background: var(--color-dark-nonactive);
}

.form-phone_wrapper input {
    margin-bottom: 0;
    border-radius: 0 10px 10px 0;
    width: 100%;
    border: none;
    padding: 10px 0;
}

.main-form textarea {
    min-width: 100%;
    max-width: 100%;
    resize: vertical;
    max-height: 300px;
    min-height: 80px;
}

.main-form button {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    background: var(--color-main);
    color: var(--color-white);
    border: 2px solid transparent;
    cursor: pointer;
}

.main-form button:hover {
    background: var(--color-white);
    color: var(--color-main);
    border: 2px solid var(--color-main);
}

.main-form_details_wrapper {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.main-form_btn_group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.main-form_btn_group input {
    width: 100%;
}

.main-form_details_wrapper {
    display: none;
}

.main-form_details_wrapper.opened {
    display: flex;
}

.form_icon_closer {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    background: var(--color-danger);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_icon_closer i {
    color: var(--color-white);
}

.main-form_heading_wrapper {
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.main-form_heading_wrapper::after {
    content: "";
    position: absolute;
    display: block;
    width: 500px;
    left: -20px;
    height: 1px;
    background: var(--color-dark);
    bottom: -20px;
}

.main-form_details_wrapper {
    margin-top: 40px;
}

.main-form_details_wrapper label:nth-child(2) {
    margin-top: 120px;
    display: block;
    width: 100%;
}

.profile-bottom_wrapper {
    margin-top: 50px;
}

.profile-bottom_heading {
    color: var(--color-dark);
    font-size: var(--size-m-d);
}

.profile-bottom_list_gather {
    background: var(--color-white);
    padding: 20px;
    margin-top: 10px;
}

.profile-bottom_list_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-bottom_item_info {
    width: 25%;
    color: var(--color-dark);
    font-size: var(--size-sm-d);
}

.profile-bottom_list {
    padding: 10px 0 0 0;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    color: var(--color-dark);
    align-items: center;
    border-top: 1px solid var(--color-dark-nonactive);
}

.profile-bottom_item {
    width: 25%;
    font-size: var(--size-m-d);
}

.profile-bottom_list_pagination {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.profile-bottom_item_pagination.page_number {
    color: var(--color-dark);
}

.profile-bottom_item_pagination.next a,
.profile-bottom_item_pagination.prev a {
    background: var(--color-main);
    display: block;
    width: 30px;
    height: 30px;
    display: flex;
    border: 1px solid var(--color-main);
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.profile-bottom_item_pagination.next a i,
.profile-bottom_item_pagination.prev a i {
    color: var(--color-white);
}

.profile-bottom_item_pagination.next a:hover,
.profile-bottom_item_pagination.prev a:hover {
    background: var(--color-white);
}

.profile-bottom_item_pagination.next a:hover i,
.profile-bottom_item_pagination.prev a:hover i {
    color: var(--color-main);
}

.profile-bottom_item_pagination.next.disabled a,
.profile-bottom_item_pagination.prev.disabled a {
    background: var(--color-dark-nonactive);
    color: var(--color-white);
    cursor: not-allowed;
}

.profile-bottom_item_pagination.link a {
    width: 30px;
    height: 30px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-main);
    border-radius: 50%;
    border: 1px solid var(--color-main);
}

.profile-bottom_item_pagination.link.active a {
    background: var(--color-main);
    color: var(--color-white);
    cursor: not-allowed;
}

.profile-bottom_list_pagination {
    margin-top: 20px;
}