:root {
    --color-main: #1B1F54;
    --color-violet: #4d4aea;
    --color-white: #FFF;
    --color-dark: #3A3A3A;
    --color-dark-nonactive: #3A3A3A50;
    --color-gray: #868484;
    --color-light-gray: #D9D9D9;
    /* --color-warn: #FEEA00; */
    --color-warn: #ffd60a;
    --color-success: #40916c;
    --color-danger: #CC2936;

    --size-sm-text: 14px;
    --size-m-text: 16px;
    --size-l-text: 18px;

    --size-sm-d: 20px;
    --size-m-d: 22px;
    --size-l-d: 24px;

    --size-sm-h: 28px;
    --size-m-h: 30px;
    --size-l-h: 40px;

    /* --bg-main: #F8FAFF; */
    --bg-main: #cdd8f5;
    --main-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --main-shadow-h: rgba(133, 133, 133, 0.1) 0px 8px 24px;
}

.settings-main_block_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.settings-main_block {
    width: 700px;
    padding: 100px;
    position: relative;
}

.settings-main_img_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.settings-main_img_wrapper img {
    border-radius: 10px;
    width: 208px;
    height: 208px;
    object-fit: cover;
}

.settings-main_text {
    position: relative;
    margin-top: 10px;
}

.settings-main_text i {
    position: absolute;
    left: -20px;
    top: 0;
}

.settings-main_text_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.setting-main_inner_text {
    margin-top: 10px;
}

.settings-main_text_wrapper a {
    color: var(--color-main);
}

.settings-main_text p {
    color: var(--color-dark);
}

.settings-changer_link {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--color-main);
}

.settings-changer_link i {
    color: var(--color-main);
}