

.stats-chart_wrapper {
    width: 100%;
    max-width: 350px;
}

.stats-info_block {
    padding: 20px;
}

.stats-chart_color {
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 5px;
    margin-right: 4px;
}

.stats-info_block {
    width: 100%;
}

.inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.stats-form_filter_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.stats-form_filter_wrapper input {
    width: 80px;
    text-align: center;
    outline: none;
    border: none;
}

.stats-form_filter_wrapper input::placeholder {
    color: var(--color-dark);
}

.stats-form_input_wrapper {
    padding: 8px 12px;
}

.stats-form_input_wrapper i {
    color: var(--color-main);
}

.stats-info_heading {
    margin-bottom: 5px;
    color: var(--color-dark);
    font-size: var(--size-m-h);
}

.stats-info_text {
    margin: 10px 0;
    color: var(--color-dark);
    font-size: var(--size-m-d);
}

.stats-form {
    margin-bottom: 30px;
}

.stats-form_filter_wrapper span {
    color: var(--color-main);
}